.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
html {
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

.card {
  height: 25vh;
  width: 40vh;
  border: 2px solid #ddd;
  background-color: #eee;
  border-radius: 1.5rem;
  padding: 17.5%;
  color: black;
  text-align: center;
  box-shadow: 0.5rem 0.5rem 1rem #ccc;
}

.card-text {
  margin: 5% auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5rem;
}